* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.Home-top {
  max-height: 600px;
  display: flex;
  justify-content: center;
  
}

.about-card {
  margin-top: auto;
  margin-bottom: auto;
  max-height: 600px;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 2rem;
}

.about-Img {
  height: 500px;
  display: flex;
  justify-content: center;
  opacity: 0.1;
}

.fa-brands {
  font-size: 2rem;
  cursor: pointer;
}


.icon:hover {
  color: rgb(255, 255, 255)!important;
  transition: 0.5s;
}

.card-skills {
  margin-top: 5px;
  padding: 5px;
}

.skills {
  font-size: 3.5rem !important;
}

.projects-card {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
}

.card-projects {
  margin-top: 5px;
  padding: 5px;
}

.project-title {
  font-size: 1rem !important;
  font-weight: bold;
}

.project-icon {
  cursor: pointer;
}